/* grid */
.grid {
  height: 425px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #0099ff;
}

.grid h1 {
  font-size: 30pt;
  width: 425px;
  text-align: center;
}

/* content */
.content {
  max-width: 1280px;
  margin: 0 auto;
}

/* welcoming */
.welcoming {
  text-align: center;
  font-size: 18pt;
}

.welcoming h2 {
  margin-bottom: 20px;
}

.welcoming p {
  margin-bottom: 60px;
}

/* skills grid */
.skills_grid {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 1020px;
  text-align: center;
}

/* separator */
.separator {
  background-color: #ccc;
  height: 1px;
  width: 60px;
  margin-top: 75px;
  margin: 75px auto 0;
}

/* about */
.about {
  margin: 25px auto 0;
    max-width: 768px;
  text-align: center;
}

.about h2 {
  margin-bottom: 25px;
}